body {
    background-image: url(imagens/bg.jpg);
    background-repeat: no-repeat;
   /* background-position: center;*/
}
.mosquito1 {
    width: 25px;
    height: 25px;
}
.mosquito2 {
    width: 45px;
    height: 45px;
}
.mosquito3 {
    width: 70px;
    height: 70px;
}
.ladoA {
    transform: scaleX(1);
}
.ladoB {
    transform: scaleX(-1);
}
.painel {
    position: absolute;
    width: 190px;
    padding: 10px;
    left: 0px;
    bottom: 0px;
    border-color: solid 1px #fff;
    background-color: #fff;
    opacity: 0.7;
}
.vidas{
    float: left;
}
.cronometro {
    float: left;
    font-size: 20px;
    font-weight: bold;
}
