.mosquito1 {
    width: 25px;
    height: 25px;
}
.mosquito2 {
    width: 45px;
    height: 45px;
}
.mosquito3 {
    width: 70px;
    height: 70px;
}
.ladoA{
    transform: scaleX(1);
}
.ladoB{
    transform: scaleX(-1);
}